/****************************************************
Default reset
*****************************************************/


html{
	width: 100%;
	height: 100%;
}

body{
    width: 100%;
    text-align: center;
	margin: 0;
    padding: 0;
}


/****************************************************
Variables
*****************************************************/


/* Defined Colours
*****************************************************/

/* Nav bar colours */
@nav-bar: #E0E0E0C4;
@nav-bar-contrast: #000000C4;//Contrast version of nav bar background colour
@nav-button: #7b7b7b96;
@nav-button-contrast: #252525;//Contrast version of nav button background colour
@nav-text-colour: #000000;
@nav-text-contrast-colour: #FFFFFF;//Contrast version of nav bar text colour

/* Banner colours */
@banner: #FFFFFF;
@banner-text-colour: #000000;
@text-box: #545454B8;
@text-box-contrast: #FFFFFFA1;//Contrast version of text-box background
@banner-contrast: rgba(0, 0, 0, 0.534);//Contrast version of banner background
@banner-text-contrast-colour: #FFFFFF;//Contrast version of banner text colour

/* Defined Fonts
*****************************************************/

.nav-text{
    font-family: 'Noto Sans HK', sans-serif;
    color: @nav-text-colour;
    text-decoration: none;
    float: left;
    margin: 23px 3%;
    font-size: 1em;
}

.sub-heading{
    font-family: 'Signika', sans-serif;
    height: 10vh;
    margin: 0;
    font-size: 4em;
}

.body-text{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
}

/****************************************************
Header
*****************************************************/

header{

    position: fixed;
    top: 0;
    width: 100%;


    #nav-button{
        border-radius: 20px;
        padding: 1.3vh 1.5vh;
        margin: 1vh;
        float: right;
        background-color: @nav-button;
        border-style: none;
        outline: none;
        position: fixed;
        right: 0;
        z-index: 1;;

        .fa{//Hamburger nav bar icon
            font-size: 24px;
        }

        &:hover{
            cursor: pointer;
        }
    }

    #nav-bar{
        width: 100%;
        background-color: @nav-bar;
        height: 0;
        opacity: 0;

        a{
            .nav-text;

            &:hover{
                cursor: pointer;
            }
        }
    }
}


/****************************************************
Banner
*****************************************************/

.parallax {

    /* Set a specific height */
    min-height: 40vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1{/* Paralax containing small banner */
    .parallax;
    padding: 50vh 0 0 5vh;
    min-height: 70vh; 
}


/****************************************************
Banner
*****************************************************/


.main-banner{
    padding: 2vh;
    box-sizing: border-box;
    margin: 0;
    background-color: @banner;
}

.div-banner{/* Divider banner for sections */
    padding: 5vh;
    box-sizing: border-box;
    margin: 0;
    background-color: @banner;
}

.text-box{/* Smaller banner */
    padding: 4vh 2vh;
    box-sizing: border-box;
    margin: 0;
    background-color: @text-box;
    color: @banner-text-contrast-colour;
    width: 50%;
}