/****************************************************
Default reset
*****************************************************/


html{
	width: 100%;
	height: 100%;
}

body{
    width: 100%;
    text-align: center;
	margin: 0;
    padding: 0;
}


/****************************************************
Variables
*****************************************************/


/* Defined Colours
*****************************************************/

/* Nav bar colours */
@nav-bar: #E0E0E0;
@nav-bar-contrast: #000000;//Contrast version of nav bar background colour
@nav-button: #7b7b7b96;
@nav-button-contrast: #252525;//Contrast version of nav button background colour
@nav-text-colour: #000000;
@nav-text-contrast-colour: #FFFFFF;//Contrast version of nav bar text colour

/* Banner colours */
@banner: #FFFFFF;
@banner-text-colour: #000000;
@banner-contrast: rgba(0, 0, 0, 0.534);
@banner-text-contrast-colour: #FFFFFF;

/* Defined Fonts
*****************************************************/

.nav-text{
    font-family: 'Noto Sans HK', sans-serif;
    color: @nav-text-colour;
    text-decoration: none;
    float: left;
    margin: 23px 3%;
    font-size: 1em;
}

.sub-heading{
    font-family: 'Signika', sans-serif;
    height: 10vh;
    margin: 0;
    font-size: 8vh;
}

.body-text{
    font-family: 'Fira Sans', sans-serif;
}

/****************************************************
Header
*****************************************************/

header{
    width: 100%;
    height: 8vh;
    background-color: @nav-bar;

    #nav-button{
        border-radius: 20px;
        padding: 1.3vh 1.5vh;
        margin: 1vh;
        float: right;
        background-color: @nav-button;
        border-style: none;
        outline: none;
        position: fixed;
        right: 0;

        .fa{//Hamburger nav bar icon
            font-size: 2vh;
        }

        &:hover{
            cursor: pointer;
        }
    }

    #nav-bar{
        height: 100%;
        width: 100%;
        background-color: @nav-bar;

        a{
            .nav-text;

            &:hover{
                cursor: pointer;
            }
        }
    }
}


/****************************************************
Banner
*****************************************************/

.parallax {

    /* Set a specific height */
    min-height: 40vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1{/* Paralax containing small banner */
    .parallax;
    padding: 50vh 0 0 5vh;
    min-height: 70vh; 
}


/****************************************************
Banner
*****************************************************/


.main-banner{
    padding: 2vh;
    box-sizing: border-box;
    margin: 0;
    background-color: @banner;
}

.div-banner{/* Divider banner for sections */
    padding: 5vh;
    box-sizing: border-box;
    margin: 0;
    background-color: @banner;
}

.sub-banner{/* Smaller banner */
    padding: 4vh 2vh;
    box-sizing: border-box;
    margin: 0;
    background-color: @banner;
    width: 50%;
}